<div class="container">
  <div class="row">
    <div class="col-11 mt-3 ml-5">
      <% if @customer == current_customer %>
        <div class="mb-2">
          <%= image_tag @customer.get_image, class: "customer-img rounded-circle mx-3", size: "100x100" %>
        </div>
        <h3>マイページ</h3>
      <% else %>
        <div class="mb-2">
          <%= image_tag @customer.get_image, class: "customer-img rounded-circle mx-3", size: "100x100" %>
        </div>
        <h3><%= @customer.nickname %></h3>
      <% end %>
    </div>
    <div class="mb-3 ml-3">
      <%= link_to favorites_customer_path(@customer), class: 'mt-1 ml-5', style: 'color: maroon;' do %>
        いいね一覧へ
      <% end %>
    </div>
  </div>
  <div class="ml-5">
    <% if @customer == current_customer && @customer.email != "guest@example.com" %>
      <%= link_to "会員情報編集", edit_customer_path(@customer.id), class: 'btn btn-primary mb-4 mr-3' %>
      <%= link_to "退会する", customer_path(@customer.id), method: :delete, data: {confirm: "本当に退会しますか？"}, class: 'btn btn-danger mb-4' %>
    <% end %>
  </div>
  <div>
    <% if @customer == current_customer && @customer.email = "guest@example.com" %>
      <%= text_area_tag :profile, "会員登録すると投稿やコメント、投稿へのいいねなど使える機能が増えます。", size: "55x10", style: "border-radius:15px" %>
    <% else %>
      <%= text_area_tag @customer.profile, @customer.profile, placeholder: "プロフィール", size: "55x10", style: "border-radius:15px" %>
    <% end %>
  </div>
  <h3 class="mt-4 ml-5">投稿</h3>
  <div class="ml-5 mb-2">投稿数：<%= @posts.count %></div>
  <div class="row">
    <% @posts.each do |post| %>
      <div class="card border ml-4 mb-2" style="width: 280px;">
        <%= image_tag post.get_post_image, class: "card-img" %>
        <div class="card-body">
          <%= link_to post_path(post.id), class: "text-dark" do %>
            <h4><%= post.post_name %></h4>
            <p><%= post.introduction.truncate(40) %></p>
          <% end %>
        </div>
        <div class="card-text">
          <p id="favorite-btn<%= post.id %>" class="ml-5">
            <%= render "public/favorites/favorite-btn", post: post %>
          </p>
          <p class="ml-5"><%= render "public/post_comments/counter", post: post %></p>
        </div>
        <div class="card-footer text-muted">
          投稿日 : <%= post.created_at.strftime('%Y/%m/%d') %>
        </div>
      </div>
    <% end %>
  </div>
</div>