<div class="container">
  <div class="row my-3">
    <div class="col-lg-9 mb-2">
      <div class="box">
        <%= image_tag 'gunnma_green.png' %>
        <p class="north_area"><%= link_to posts_path(area: 1), style: 'color: darkorange;' do %> 北毛エリア <% end %></p>
        <p class="central_area"><%= link_to posts_path(area: 2), style: 'color: maroon;' do %> 中毛エリア <% end %></p>
        <p class="west_area"><%= link_to posts_path(area: 3), style: 'color: fuchsia;' do %> 西毛エリア <% end %></p>
        <p class="east_area"><%= link_to posts_path(area: 4), style: 'color: blue;' do %> 東毛エリア <% end %></p>
      </div>
      <strong class="area_detail">
        <%= link_to posts_path(area: 1), style: 'color: darkorange;' do %> 北毛エリア <% end %>：利根郡、吾妻郡、沼田市<br>
        <%= link_to posts_path(area: 2), style: 'color: maroon;' do %> 中毛エリア <% end %>：前橋市、伊勢崎市、渋川市、北群馬郡、佐波郡<br>
        <%= link_to posts_path(area: 3), style: 'color: fuchsia;' do %> 西毛エリア <% end %>：高崎市、藤岡市、富岡市、安中市、多野郡、甘楽郡<br>
        <%= link_to posts_path(area: 4), style: 'color: blue;' do %> 東毛エリア <% end %>：桐生市、太田市、館林市、みどり市、邑楽郡
      </strong>
    </div>
    <div class="col-lg-3">
      <h4 class="ml-5">新しい投稿</h4>
      <% @posts.each do |post| %>
        <div class="card border ml-4 mb-2" style="width: 250px;">
          <div class="card-header py-1">
            <%= image_tag post.customer.get_image, class: "customer-img rounded-circle mr-1", size: "25x25" %>
            <%= link_to customer_path(post.customer.id), class: "text-dark" do %>
              <%= post.customer.nickname %>
            <% end %>
          </div>
          <%= image_tag post.get_post_image, class: "card-img-top" %>
          <div class="card-body">
            <%= link_to post_path(post.id), class: "text-dark" do %>
              <h5 class="font-weight-bold"><%= post.post_name %></h5>
              <p><%= post.introduction.truncate(40) %></p>
            <% end %>
          </div>
          <div class="card-text">
            <p id="favorite-btn<%= post.id %>" class="ml-5">
              <%= render "public/favorites/favorite-btn", post: post %>
            </p>
            <p class="ml-5"><%= render "public/post_comments/counter", post: post %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>