<div class="container">
  <div class="row my-3">
    <div class="col-12">
      <h3><%= @customer.nickname %>さんの詳細</h3>
    </div>
    <div class="row my-3 ml-3">
      <%= link_to "会員情報を編集する", edit_admin_customer_path(@customer.id), class: 'btn btn-success ml-2 mb-3' %>
      <%= link_to "退会させる", admin_customer_path(@customer.id), method: :delete, data: {confirm: "本当に退会させますか？"}, class: 'btn btn-danger ml-2 mb-3' %>
    </div>
    <table class="table table-hover table-bordered">
      <tr>
        <th>会員ID</th>
        <td><%= @customer.id %></td>
        <th>電話番号</th>
        <td><%= @customer.phone_number %></td>
      </tr>
      <tr>
        <th>名前</th>
        <td><%= @customer.full_name %></td>
        <th>メールアドレス</th>
        <td><%= @customer.email %></td>
      </tr>
      <tr>
        <th>ニックネーム</th>
        <td><%= @customer.nickname %></td>
        <th>投稿数</th>
        <td><%= @posts.count %>件</td>
      </tr>
    </table>
  </div>
  <h3 class="row ml-5 pl-5">投稿</h3>
  <div class="row mx-xl-5 mx-md-2 mx-5">
    <% @posts.each do |post| %>
      <div class="card border ml-4 mb-4" style="width: 280px;">
        <%= link_to admin_post_path(post.id) do %>
          <%= image_tag post.get_post_image, class: "card-img" %>
        <% end %>
        <div class="card-body">
          <%= link_to admin_post_path(post.id), class: "text-dark" do %>
            <h4><%= post.post_name %></h4>
            <p><%= post.introduction.truncate(40) %></p>
          <% end %>
        </div>
        <div class="card-text">
          <p id="favorite-btn<%= post.id %>" class="ml-5">
            <%= render "public/favorites/favorite-btn", post: post %>
          </p>
          <p class="ml-5">
            <i class="fa-solid fa-comment-dots"> <%= render "public/post_comments/counter", post: post %></i>
          </p>
        </div>
        <div class="card-footer text-muted">
          投稿日 : <%= post.created_at.strftime('%Y/%m/%d') %>
        </div>
      </div>
    <% end %>
  </div>
</div>