<div class="container">
  <div class="row my-3">
    <div class="col-md-8">
    <h3><%= @customer.nickname %>さんの詳細</h3>
    <%= link_to "会員情報を編集する", edit_admin_customer_path(@customer.id), class: 'btn btn-success ml-2 mb-3' %>
    <%= link_to "退会させる", admin_customer_path(@customer.id), method: :delete, data: {confirm: "本当に退会させますか？"}, class: 'btn btn-danger ml-2 mb-3' %>
    <table class="table table-bordered">
      <tr>
        <th>会員ID</th>
        <td><%= @customer.id %></td>
        <th>電話番号</th>
        <td><%= @customer.phone_number %></td>
      </tr>
      <tr>
        <th>名前</th>
        <td><%= @customer.full_name %></td>
        <th>メールアドレス</th>
        <td><%= @customer.email %></td>
      </tr>
      <tr>
        <th>ニックネーム</th>
        <td><%= @customer.nickname %></td>
        <th>投稿数</th>
        <td><%= @posts.count %>件</td>
      </tr>
    </table>
    </div>
  </div>
  </div>
  <h3 class="ml-5">投稿</h3>
  <div class="row mx-4">
    <% @posts.each do |post| %>
    <div class="card border-0 ml-4 mb-4" style="width: 280px;">
      <%= image_tag post.get_post_image, class: "card-img" %>
      <div class="card-body">
        <%= link_to post_path(post.id), class: "text-dark" do %>
          <h4><%= post.post_name %></h4>
          <p><%= post.introduction.truncate(40) %></p>
        <% end %>
      </div>
      <div class="card-text">
        <p id="favorite-btn<%= post.id %>" class="ml-5">
          <%= render "public/favorites/favorite-btn", post: post %>
        </p>
        <p class="ml-5"><%= render "public/post_comments/counter", post: post %></p>
      </div>
    </div>
    <% end %>
  </div>
</div>