<% post_comments.each do |post_comment| %>
  <table>
    <thead>
      <tr>
        <th>投稿者</th>
        <th>投稿内容</th>
        <th>コメント投稿者</th>
        <th>コメント</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= post_comment.post.customer.nickname %></td>
        <td><%= post_comment.post.post_name %></td>
        <td><%= post_comment.customer.nickname %></td>
        <td><%= text_area_tag post_comment.comment, post_comment.comment, size: "30x5" %></td>
        <td>
          <% if post_comment.customer == current_customer || admin_signed_in? %>
            <button class="btn btn-danger btn-sm mb-4" type="button">
              <%= link_to "削除", admin_post_comment_path(post_comment.id), method: :delete, remote: true, data: {confirm: "このコメントを削除しますか？"}, class: 'text-light' %>
            </button>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>