<div class="container">
  <div class="row">
    <div class="col-sm-10 px-sm-0 offset-sm-1">
      <span style="background-color: #f2f2f2; font-size: 23px;">ログイン</span>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-sm-10 px-sm-0 mx-auto mb-5">
      <span style="background-color: #f2f2f2;">会員の方はこちらからログイン</span>
      <%= form_with model: @customer, url: customer_session_path do |f| %>
        <table>
          <tr>
            <div class="form_group mt-3">
              <th><%= f.label :email, "メールアドレス", class: 'mr-2' %></th>
              <td><%= f.text_field :email, :size => "40", autofocus: true, autocomplete: "email" %></td>
            </div>
          </tr>
          <tr>
            <div class="form-action">
              <th><%= f.label :password, "パスワード" %></th>
              <td><%= f.password_field :password, :size => "40", autocomplete: "current-password" %></td>
            </div>
          </tr>
          <tr>
            <th></th>
            <td><%= f.submit "ログイン", class: "btn btn-primary btn-block" %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 px-sm-0 mx-auto mb-5">
      <%= render "public/shared/links" %>
    </div>
  </div>
</div>