<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/9d9107d4e2.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render 'layouts/header', keyword: @keyword %>
    </header>
    <!--<div class="ml-5">-->
    <!--  <div class="text-center mt-3"><h5><strong><%= flash[:notice] %></strong></h5></div>-->
    <!--  <div class="text-center mt-3"><h5><strong><%= flash[:alert] %></strong></h5></div>-->
    <!--</div>-->
    <%= render 'layouts/flash' %>
    <%= yield %>
  </body>
</html>
